@model LoginUser


<form method="post" asp-action="Login" asp-controller="Home">
    <div>
        <label asp-for="Name">Name</label>
        <input  asp-for="Name" />
    </div>
    <div>
        <label asp-for="Password">Password</label>
        <input asp-for="Password" />
    </div>
    <input type="submit" value = "Login" />
</form>
